
<!-- Search Page -->
<section class="search-env" ng-init="current_tab = 'web'; searchString = ''">
	<div ng-controller="instituteController as ic">
	<div class="page-title">

		<div class="title-env">
			<h1 class="title">Percentage</h1>
			<p class="description">Complete the form to know about available institute options</p>
		</div>

		<div class="breadcrumb-env">

			<ol class="breadcrumb bc-1">
				<li>
					<a href="dashboard-1.html"><i class="fa-home"></i>Home</a>
				</li>
				<li>

					<a href="test.html">Test</a>
				</li>
				<li class="active">

					<strong>Search</strong>
				</li>
			</ol>

		</div>

	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Percentage Based Search</h3>
			<div class="panel-options">
				<a href="#" data-toggle="panel">
					<span class="collapse-icon">–</span>
					<span class="expand-icon">+</span>
				</a>
				<a href="#" data-toggle="remove">
					×
				</a>
			</div>
		</div>
		<div class="panel-body">

			<form role="form" class="form-horizontal" ng-if="showform">

				<div class="form-group">
					<label class="col-sm-2 control-label" for="field-1">Total marks</label>

					<div class="col-sm-10">
						<input type="text" class="form-control" id="field-1" placeholder="total marks">
					</div>
				</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">Obtained marks</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="field-2" placeholder="obtained marks">
						</div>
					</div>
					<div class="form-group">
					<label class="col-sm-2 control-label">Select Degree</label>

					<div class="col-sm-10">
						<select class="form-control">
							<option>BSCS</option>
							<option>HIGH SCHOOL</option>
							<option>BSC</option>
							<option>MASTER</option>
						</select>
					</div>
				</div>

				<button ng-init="showContent = false;" class="btn btn-secondary pull-right" ng-click="ic.getInstitutes()">search
				</button>
			</form>

			<div class="col-sm-12" ng-if="showtable">

				<table class="table responsive">
					<thead>
					<tr>
						<th>#</th>
						<th>University Name</th>
						<th>Program Name</th>
						<th>Action</th>

					</tr>
					</thead>

					<tbody>
					<tr>
						<td>1</td>
						<td>IUB</td>
						<td>BSCS</td>
						<td><a href="loading-progress.html">more info</a></td>
					</tr>

					<tr>
						<td>2</td>
						<td>NUST</td>
						<td>Software Engineering</td>
						<td><a href="loading-progress.html">more info</a></td>
					</tr>

					<tr>
						<td>3</td>
						<td>LUMS</td>
						<td>Electronics</td>
						<td><a href="loading-progress.html">more info</a></td>
					</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	</div>
	
</section>