<div class="sidebar-menu" style="background:#000000; width: 300px" ng-class="{'collapsed': layoutOptions.sidebar.isCollapsed, 'toggle-others': layoutOptions.sidebar.toggleOthers, 'fixed': layoutOptions.sidebar.isFixed && layoutOptions.container.isBoxed == false}">
	<div class="sidebar-menu-inner">
		<sidebar-logo ng-if="layoutOptions.horizontalMenu.isVisible == false"></sidebar-logo>
		<sidebar-menu></sidebar-menu>
	</div>
</div>
<div class="main-content">
	<user-info-navbar></user-info-navbar>
	<ui-view class="main-content-view"></ui-view>
</div>
