<header class="logo-env">
	
	<!-- logo -->
	<div class="logo">
		<a href="angular/index.html" class="logo-expanded">
			<h2 style="color : white" >Education Express</h2>
			<!--<img src="/static/resources/assets/images/logo@2x.png" width="80" alt="" />-->
		</a>
		
		<a href="angular/index.html" class="logo-collapsed">
			<h2 style="color:white" >EE</h2>
			<!--<img src="/static/resources/assets/images/logo-collapsed@2x.png" width="40" alt="" />-->
		</a>
	</div>
	
	<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
	<div class="mobile-menu-toggle visible-xs">
		<a href=""ng-click="mobileUserInfoToggle()" data-toggle="user-info-menu">
			<i class="fa-bell-o"></i>
			<span class="badge badge-success">7</span>
		</a>
		
		<a href="" ng-click="mobileMenuToggle()" data-toggle="mobile-menu">
			<i class="fa-bars"></i>
		</a>
	</div>
</header>